<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="agsXMPP" version="1.1.1.0" targetFramework="net45" />
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net451" />
  <package id="Dragablz" version="0.0.3.203" targetFramework="net451" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="MaterialDesignColors" version="1.1.3" targetFramework="net451" />
  <package id="MaterialDesignExtensions" version="2.3.0" targetFramework="net451" />
  <package id="MaterialDesignThemes" version="2.5.0.1205" targetFramework="net451" />
  <package id="MicrosoftExpressionInteractions" version="3.0.40218.0" targetFramework="net452" />
  <package id="Migrations" version="1.0.1.0" targetFramework="net452" />
  <package id="MvvmLight" version="5.4.1.1" targetFramework="net451" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net452" />
  <package id="SQLite.CodeFirst" version="1.5.0.22" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.108.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.108.0" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6.Migrations" version="1.0.104" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.108.0" targetFramework="net45" />
  <package id="ThoughtWorks.QRCode" version="1.1.0" targetFramework="net45" />
  <package id="Vlc.DotNet.Core" version="3.0.0-develop252" targetFramework="net452" />
  <package id="Vlc.DotNet.Core.Interops" version="3.0.0-develop252" targetFramework="net452" />
  <package id="Vlc.DotNet.Wpf" version="3.0.0-develop252" targetFramework="net452" />
  <package id="WpfAnimatedGif" version="1.4.17" targetFramework="net452" />
  <package id="XamlAnimatedGif" version="1.1.10" targetFramework="net451" />
  <package id="Xpand.ExpressApp.Win.Para.WindowsIntegration" version="13.2.6.0" targetFramework="net452" />
</packages>